.form__fieldset {
  border-radius: 3px;
}

.form__legend {
  border-radius: 3px;
  background-color: hsl(39, 51%, 68%);
  padding: 4px 8px;
}

.form__labelText {
  width: 100%;
  max-width: 180px;
  display: inline-block;
  margin: 0 auto;
}

.form__currencyField {
  border: 2px solid #ccc;
  padding: 6px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  margin-left: 5px;
}

@media (max-width: 848px) {
  .form__currencyField {
    margin-left: 0px;
  }
}
