.form__button {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;;
  border: none;
  border-radius: 3px;
  background-color: hsl(39, 51%, 68%);
  padding: 4px;
}

.form__button:hover {
  background-color: hsl(39, 51%, 48%);
}

.form__button:active {
  background-color: hsl(39, 51%, 38%);
}
